body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    gap: 50px;
    
}

#counter{
    font-size: 3rem;
}